.nova-brand {
    width: 55px;
    height: 55px;
    padding: 0.1rem;
    border-radius: 0%.5rem;
}

.nova-brand:hover {
    border: 1px solid var(--primary);
    border-radius: 0%.5rem;
    box-shadow: 0 0 12px rgba(59, 130, 246, 0.3)
                0 0 24px rgba(59, 130, 246, 0.2)
                0 0 36px rgba(59, 130, 246, 0.1);

    transform: scaleY(1.25) scaleX(1.25);
    transition: transform 0.3s ease;
}